body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

/* Brukes til å få teksten å bli dersom du minimizer nettsiden. */

html {
    font-size: clamp(14px, 1vw, 18px);
}


/* Hoved, tekst, quota, hvordan nettsiden ser ut. */

h1, h2, p {
    margin: 0;
}

.content {
    display: flex;
}

.BILDE {
    background-color: white;
    flex: 3;
}

.black-section {
   width: 54.33vw;
   height: 100vh;
   background-color: black;
}

.TEXT {
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
    gap: 2.2rem;
}

#main {
    font-size: 3rem;
    padding-top: 19rem;
    line-height: 1.5;
}

#quote {
    font-size: 1.2rem;
    
}


/* Teksten i knappen til MY WORK */

.button {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.9rem;
}


/* Få bildet til å passe in i siden, uten å være for stor eller for liten. */


.BILDE {
    width: 33.33vw;
    height: 100vh;
    overflow: hidden;
}

.BILDE img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

/* Knapp redigering, lage knapper. */

.button1  {
    color: rgb(0, 0, 0);
}

.button2 {
    color: white;
}

/* Fonter til tekstene */

.FONT1 {
     font-family: "Inter" sans-serif;
}

#main {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.8rem;
    
}

#quote {
  color: #adadad;  
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.3rem;
}

.button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
}
a {
    text-decoration: none;
}

/* Mest parten/Hoved delen til kanpp redigeringen */
/* Border radius gir knappene til å se ut som en sirkel og pille. */

.button1 {
    padding: 0.1rem 1.1rem;
    background-color: white;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button2 {
    width: 42px;
    height: 42px;
    border-radius: 50%;   
    background-color: #1f1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Fade til sidene, når du kommer in på siden vil en animation skje*/

.page-fade {
    position: fixed;
    inset: 0;
    background: black;
    z-index: 9999;
    animation: fadeInPage 2s ease forwards;

}

/* Keyframes til fade animationen */

@keyframes fadeInPage {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}